body {
  background: #22254b;
}

.container-card {
  margin-top: 100px;
  width: 300px;
  max-width: 100%;
  text-align: center;
  position: relative;
}

img {
  width: 100%;
}

.movie-name {
  padding: 30px;
  width: 100%;
  background: #373b69;
}

.box-vote {
  background: #22254b;
  max-width: 40px;
  color: #fff;
  margin-left: 50%;
  border-radius: 8px;
  padding: 5px;
}

.card {
  border: none;
}

.invisible {
  display: none;
}

.overview {
  position: absolute;
  background: #fff;
  width: 100%;
  bottom: 0;
}
